<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <h2>Registro de Usuario</h2>
    <form method="POST">
        <label>Nombre:</label><br>
        <input type="text" name="nombre" placeholder="Nombre completo" required><br>
        <label>Correo:</label><br>
        <input type="email" name="email" placeholder="Correo electrónico" required><br>
        <label>Contraseña:</label><br>
        <input type="password" name="password" placeholder="Contraseña" required><br>

       <br><button type="submit">Registrarse</button>
       <a href="mailto:francisco.opayome@gmail.com?subject=Consultas&body=Hola, tengo una consulta sobre...">regist</a>
        
    </form>
     <br><br>
    <a href="../templates/login.html"><button>Regresar a la Página Principal</button></a>
</body>
</html>