<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>id a actualizar</h1>
<form action="{{ url_for('update') }}" method="POST">
    <label>ID</label>
    <input type="number" name="llave" required>
    <label>Nuevo nombre</label>
    <input type="text" name="nname">
    <label>Nueva descripción</label>
    <input type="text" name="ndesc" required>
    <button type="submit">Actualizar</button>
</form>

</body>
</html>